<!-- <div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <p class="text-danger fs-1 fw-bold">404 Not Found</p>
        </div>
    </div>
</div> -->
<div class="not-found-container">
    <h1 class="not-found-title">404</h1>
    <p class="not-found-message">Oops! The page you’re looking for doesn’t exist.</p>
    <button class="back-home-btn btn-success" (click)="goBackHome()">Go Back Home</button>
</div>
  
