@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Optional Custom Styles */
.navbar {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.font-style {
    font-family: "Audiowide" !important;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
    /* Ensure links are white */
}

.navbar-icons a {
    font-size: 1.25rem;
}

.navbar-icons a:hover {
    color: #e57373;
    /* Lighten red on hover */
}

.form-control::placeholder {
    color: #ccc;
    /* Placeholder text color */
}

nav img {
    width: 60px;
    height: 60px;
    object-fit: fill;
}

nav ul {
    margin-left: 15rem;
}

nav li {
    margin-inline: 10px;
    font-size: 20px;
    transition: 0.5s;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

ul:hover li a {
    transform: scale(1.5);
    opacity: 0.3;
    filter: blur(5px);
}

ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #000 !important;
}

ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    height: 115%;
    background: #39ff14;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
    border-radius: 35%;

}

ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-icons a {
    transition: color 0.3s ease, transform 0.3s ease;
    /* Smooth transition for both color and scale */
}

.navbar-icons a:hover {
    color: limegreen;
    /* Change to green on hover */
    transform: scale(1.5);
    /* Slightly enlarge the icon */
}